# ignore github files
# Build and test
target/

# JetBrains
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Misc
.DS_Store
._*
.Spotlight-V100
.Trashes
**/*.rs.bk

# Env
.env

# Config
config.yaml
rocksdb_data
logs
*.log
debug_dlmm
*.txt
.agents
.agent
.env.local
.gitignore
aws/
k8s-manifests/
out/
cache/
broadcast/